<ul class="navbar-nav ms-auto mb-2 mb-md-0">
    {% if g.loggedin %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown03" data-bs-toggle="dropdown"
            aria-expanded="true">Hi, {{ g.displayname }}!</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown03" data-bs-popper="none">
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li><a class="dropdown-item" href="/songlist/{{ g.username }}">View My Public Songlist</a></li>
            <li><hr class='dropdown-divider'></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
    </li>
    {% else %}
    <li class="nav-item">
        <a href="/login">Log In / Register</a>
    </li>
    {% endif %}
</ul>