{% extends 'basepage.jinja' %}
{% block content %}
<div class="bg-light p-5 rounded">
  <h1 id='profilename'></h1>
  <div id='userinfo'></div>
</div>
<script>var uid = {{ g.uid }}; </script>
<script type="text/javascript" src="/jquery.passtrength.js"></script>
<script src='/editprofile.js'></script>
{% endblock %}