{% extends 'basepage.jinja' %}
{% block content %}
<div>{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p style="text-align: center; color: #9C27B0;">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
</div>
<form class='form-signin' action="/authenticate" method="POST">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
        <input type="text" class="form-control" name="username" id="floatingInput" placeholder="Username or Email" required>
        <label for="floatingInput">Username or Email</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password"
            required>
        <label for="floatingPassword">Password</label>
    </div>
    <!--   
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
    <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
    <hr>
    <a class="w-100 btn btn-lg btn-info" href="/newuser">Create a New Account</a>
    <hr>
    <a class="w-100 btn btn-lg btn-primary" href="/tlogin">Login with Twitch</a>
</form>
{% endblock %}