{% extends 'basepage.jinja' %}
{% block content %}
<div class="bg-light p-5 rounded">
  <h1>Manage Songlist for {{ username }}</h1>
      <div id='songlist'>
    </div>
{% include 'addsongmodal.jinja' %}
{% include 'editsongmodal.jinja' %}
<div id='songlist'>
</div>
</div>
<script> var uid = {{ uid }}; </script>
<script src='/managelist.js'></script>
{% endblock %}