{% extends 'basepage.jinja' %}
{% block content %}
<div class="bg-light p-5 rounded">
  <h1>Manage Songlist for {{ g.displayname }}</h1>
      <div id='songlist'>
    </div>
</div>
{% include 'addsongmodal.jinja' %}
<script> var uid = {{ g.uid }}; </script>
<script src='/managelist.js'></script>
{% endblock %}