{% extends 'basepage.jinja' %}
{% block content %}
<div class="bg-light p-5 rounded">
  <h1>Manage Songlist for {{ username }}</h1>
      <div id='songlist'>
    </div>
    <div class="modal" id="addSongModal" data-target="#addSongModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id='modal-title'>New Song</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id='songform'>
                        <div class="form-group">
                            <label for="songtitle">Song Title</label>
                            <input type="text" class="form-control" id="songtitle" placeholder="Song Title">
                        </div>
                        <div class="form-group">
                            <label for="songartist">Artist</label>
                            <input type="text" class="form-control" id="songartist" placeholder="Artist">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="songpublic">
                            <label class="form-check-label" for="songpublic">Show in public list?</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" onclick="saveSong(this)" class="btn btn-primary">Save song</button>
                </div>
            </div>
        </div>
    </div>
<div id='songlist'>
</div>
</div>
<script> var uid = {{ uid }}; </script>
<script src='/managelist.js'></script>
{% endblock %}