{% extends 'basepage.jinja' %}
{% block content %}
<div class="bg-light p-5 rounded">
  <h1>Manage Requests for {{ g.displayname }}</h1>
      <div id='reqlist'>
    </div>
</div>
<script> var uid = {{ g.uid }}; </script>
<script src='/managereqs.js'></script>
{% endblock %}