<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Minstrelize
            <span id='livealert' {% if g.online == false %} hidden {% endif %} class="badge rounded-pill bg-danger">
                STREAMING NOW!
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <form class="d-flex me-1">
                    <input class="form-control mx-2" id="srch" name="srch" type="search" placeholder="Search"
                        autocomplete="off" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <li class="nav-item mx-1">
                    <a class="btn btn-secondary" aria-current="page" href="/">Home</a>
                </li>
                {% if g.loggedin %}
                <li class="nav-item mx-1">
                    <a class="btn btn-secondary" href="/managelist">Songlist Manager</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="btn btn-secondary" href="/requests" tabindex="-1">Request Manager
                        {% if g.count > 0 %}
                        <span id="reqbadge" class="badge rounded-pill bg-danger">
                            {{ g.count }}
                        </span>
                        {% endif %}
                    </a>
                </li>
                {% endif %}
                {% if g.loggedin %}
                <li class="nav-item mx-1 dropdown">
                    <a class="btn btn-secondary dropdown-toggle" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="true">Stream Overlays</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown03" data-bs-popper="none">
                        <li><a class="dropdown-item" href="/wheel">Wheel Overlay</a></li>
                        <li><a class="dropdown-item" href="/reqs">Minimal Request List</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item mx-1" id='endbtn' {% if g.online == false %} hidden {% endif %}>
                    <a class="btn btn-danger" onclick="endSession()">End Session</a>
                </li>
                <li class="nav-item mx-1" id='startbtn' {% if g.online %} hidden {% endif %}>
                    <a class="btn btn-success" onclick="startSession()">Start Session</a>
                </li>
            </ul>
            {% include 'auth.jinja' %}
        </div>
</nav>
<script src='/navbar.js'></script>