{% extends 'basepage.jinja' %}
{% block content %}
<div class="bg-light p-5 rounded">
  <h1>Public Songlist for {{ listuser }}</h1>
<div id='songlist'>
</div>
</div>
<script>var listuid = {{ listuid }}; var uid = {{ uid }}; </script>
<script src='/requestlist.js'></script>
{% endblock %}