<!doctype html>
<meta charset='UTF-8'>
<html>

<head>
    <title>Minstrelize</title>
    <link href='/wheel.css' type='text/css' rel='stylesheet'>
    <link rel='icon' type='image/png' href='icon.png'>
</head>

<body>
    <div id='cdiv'><canvas id='canvas'></canvas></div>
    <div class='controls' id='cpan'>
        <div class='controlscontainer'>
            <div id='master'>
                <p style='text-align: center;'>
                    <a href='/'>Minstrelize</a>
                </p>
            </div>
            <div id='globals'>
                <h2>Wheel Settings:</h2>
                <p>
                    <label for="wheelLeft">Wheel Position X:</label>
                    <input type="range" min="0" max="1120" value="560" name="wheelLeft" id="wheelLeft">
                </p>
                <p>
                    <label for="wheelTop">Wheel Position Y:</label>
                    <input type="range" min="0" max="280" value="140" name="wheelTop" id="wheelTop">
                </p>
                <p>
                    <label for="wheelSize">Wheel Size:</label>
                    <input type="range" min="200" max="1000" value="800" name="wheelSize" id="wheelSize">
                </p>
                <p>
                    <label for="wheelVis">Show Wheel:</label>
                    <input type="checkbox" checked name="wheelVis" id="wheelVis">
                </p>
                <p>
                    <button name="wheelRefill" id="wheelRefill">Refill the Wheel</button>
                </p>
                <h2>Queue Settings:</h2>
                <p>
                    <label for="queueLeft">Queue Position X:</label>
                    <input type="range" min="0" max="1920" value="140" name="queueLeft" id="queueLeft">
                </p>
                <p>
                    <label for="queueTop">Queue Position Y:</label>
                    <input type="range" min="0" max="1000" value="40" name="queueTop" id="queueTop">
                </p>
                <p>
                    <label for="queueSize">Queue Text Size:</label>
                    <input type="range" min="250" max="1000" value="800" name="queueSize" id="queueSize">
                </p>
                <p>
                    <label for="queueVis">Show Queue:</label>
                    <input type="checkbox" checked name="queueVis" id="queueVis">
                </p>
            </div>
            <hr>
            <h4 style='text-align: center'><a href='https://github.com/jartis/songler'>What is Minstrelize?</a></h4>
            <h3 style='text-align: center'>Support This Project</h3>
            <div style='text-align: center'>
                <form action='https://www.paypal.com/donate' method='post' target='_blank'>
                    <input type='hidden' name='hosted_button_id' value='3J2CJ98ZGU626' />
                    <input type='image' src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' border='0'
                        name='submit' title='PayPal - The safer, easier way to pay online!'
                        alt='Donate with PayPal button' />
                    <img alt='' border='0' src='https://www.paypal.com/en_US/i/scr/pixel.gif' width='1' height='1' />
                </form>
                <p><a href='https://cash.app/$bdjcomic'>cash.app/$bdjcomic</a></p>
            </div>
        </div>
    </div>
    <div class='controls fullbt clear' id='cbtn'>
        <div id='clbl' class='ct clear'>«</div>
    </div>
    <script>var uid = {{ userid }};</script>
    <script src='/util.js'></script>
    <script src='/wheel.js'></script>
</body>

</html>